a {
    text-decoration: none;
    color: var(--layout-text);
    font-size: var(--navigation-font-size);
}

/* makes navigation to take up the whole remaining space */
#navigationWrapper{
    /* width:calc(90%-10px); */
    width:100%;
}

ul {
    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    margin:0 3rem 0 1rem;
    padding: 0;
}

li{
    padding: 1rem;
    
}

